.bg {
  /* background-image: url("../assets/backgrounds/blob-scene-dark.svg"); */
  background-image: url("../assets/backgrounds/blob-scene-haikei_h2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #1a1a1a; */
  height: 100vh;
  /* width: 100vw; */
  /* z-index: -1; */
  /* display: inline-block; */
  /* position:absolute; */
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /* width: fit-content; */
}

.realInfo {
  font-size: large;
  color: white;
  margin-left: 10%;
  padding-top: 15%;
  display: inline-block;
  width: 50%;
}

.btn {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.Socialbtn {
  margin-top: 16px;
  width: 18%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.Socialbtn a {
  color: white;
  text-decoration: none;
}

.sideImg {
  width: 35%;
  height: 55%;
  margin-top: 8%;
}

.hi span {
  color: red;
}

.developer {
  margin-top: 15px;
  font-size: 30px;
}

.aboutMe {
  margin-top: 10px;
}

.hi {
  font-size: 50px;
}
